<a href="https://colab.research.google.com/github/MeenatchiKV/LearnML/blob/master/Breast_Cancer_Pearson_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from numpy import mean
from numpy import std
from numpy.random import seed
# seed random number generator
seed(1)
import pandas as pd

In [ ]:
path = "/content/breast-cancer-wisconsin.data"
df = pd.read_csv(path)
df.head()

        id  clump_thickness  unif_cell_size  ...  norm_nucleoli  mitoses  class
0  1000025                5               1  ...              1        1      2
1  1002945                5               4  ...              2        1      2
2  1015425                3               1  ...              1        1      2
3  1016277                6               8  ...              7        1      2
4  1017023                4               1  ...              1        1      2

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 699 non-null    int64
 1   clump_thickness    699 non-null    int64
 2   unif_cell_size     699 non-null    int64
 3   unif_cell_shape    699 non-null    int64
 4   marg_adhesion      699 non-null    int64
 5   single_apith_cell  699 non-null    int64
 6   bare_nuclei        699 non-null    object
 7   bland_chrom        699 non-null    int64
 8   norm_nucleoli      699 non-null    int64
 9   mitoses            699 non-null    int64
 10  class              699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [ ]:
df.replace('?',-99999,inplace=True)
df['bare_nuclei'] = df['bare_nuclei'].astype(int)

In [ ]:
df.columns

Index(['id', 'clump_thickness', 'unif_cell_size', 'unif_cell_shape',
       'marg_adhesion', 'single_apith_cell', 'bare_nuclei', 'bland_chrom',
       'norm_nucleoli', 'mitoses', 'class'],
      dtype='object')

In [ ]:
features = ['clump_thickness', 'unif_cell_size', 'unif_cell_shape',
       'marg_adhesion', 'single_apith_cell', 'bare_nuclei', 'bland_chrom',
       'norm_nucleoli', 'mitoses']
classes = ['class']

#for f in features:
#  df[f].astype(float64)
df = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 699 non-null    int64
 1   clump_thickness    699 non-null    int64
 2   unif_cell_size     699 non-null    int64
 3   unif_cell_shape    699 non-null    int64
 4   marg_adhesion      699 non-null    int64
 5   single_apith_cell  699 non-null    int64
 6   bare_nuclei        699 non-null    int64
 7   bland_chrom        699 non-null    int64
 8   norm_nucleoli      699 non-null    int64
 9   mitoses            699 non-null    int64
 10  class              699 non-null    int64
dtypes: int64(11)
memory usage: 65.5 KB

In [ ]:
from scipy.stats import pearsonr
pearson_dict = {}
def calc_pearson(features):
  #pearson_dict = {}
  n = len(features)
  for _ in range(n):
    pearson_dict[features[_]]=[0,[]]

  for i in range(n-1):
    for j in range(i+1,n):
      n_name=features[i]+'-'+features[j]
      corr,_ = pearsonr(df[features[i]],df[features[j]])
      if corr>0.85:
        pearson_dict[features[i]][0] = pearson_dict[features[i]][0] + 1
        pearson_dict[features[i]][1].append(features[j])
        pearson_dict[features[j]][0] = pearson_dict[features[j]][0] + 1
        pearson_dict[features[j]][1].append(features[i])

  print(pearson_dict)


calc_pearson(features)

{'clump_thickness': [0, []], 'unif_cell_size': [1, ['unif_cell_shape']], 'unif_cell_shape': [1, ['unif_cell_size']], 'marg_adhesion': [0, []], 'single_apith_cell': [0, []], 'bare_nuclei': [0, []], 'bland_chrom': [0, []], 'norm_nucleoli': [0, []], 'mitoses': [0, []]}

In [ ]:
max_val = -1
max_key = []
for k,v in pearson_dict.items():
  if v[0] > max_val:
    max_val = v[0]
    max_key = [k]
    continue
  if v[0] == max_val:
    max_key.append(k)

print(max_key)
print(max_val)

['unif_cell_size', 'unif_cell_shape']
1

In [ ]:
for m in max_key:
  maxx = pearson_dict[m]
  for _ in range(maxx[0]):
    pearson_dict[maxx[1][_]][0]= pearson_dict[maxx[1][_]][0] - 1
    pearson_dict[maxx[1][_]][1].remove(m)
  del pearson_dict[m]

  print(pearson_dict)

{'clump_thickness': [0, []], 'unif_cell_shape': [0, []], 'marg_adhesion': [0, []], 'single_apith_cell': [0, []], 'bare_nuclei': [0, []], 'bland_chrom': [0, []], 'norm_nucleoli': [0, []], 'mitoses': [0, []]}
{'clump_thickness': [0, []], 'marg_adhesion': [0, []], 'single_apith_cell': [0, []], 'bare_nuclei': [0, []], 'bland_chrom': [0, []], 'norm_nucleoli': [0, []], 'mitoses': [0, []]}